   <% @book.comments.each do |comment| %>
   
    <small><%= current_user.email %> says:</small>
      <p>
        <%= comment.body %>
        <% if current_user.present? && comment.user_id == current_user.id %>
          <small><%= link_to "Delete", book_comment_path(@book, comment), method: :delete %></small>
        <% end %>
      </p>
    <% end %>

